.SectionSchedual{
.cusContrainer{
.note{
 .note_tabs{
  padding: 12px 10px;
  display: inline-flex;
  margin: 2px 200px;

h1.space{
    font-size: 28px;
    margin: 20px 20px;
    font-family: Noto Serif;
  }
.note{
  margin: 20px 20px;
  }
.circle1 {
  width: 28px;
  height: 28px;
  background-color: #4DD5FF;
  border-radius: 50%;
}
.circle2 {
  width: 28px;
  height: 28px;
  background-color: #CAC0FF;
  border-radius: 50%;
}
.circle3 {
  width: 28px;
  height: 28px;
  background-color: #6F13DE;
  border-radius: 50%;
}
 }
  }

  table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px;
td{
  border: 1px solid #e0e0e0;
  padding: 12px 10px;
  font-size: 1rem;
  text-align: center;
  border-radius: 15px;
  width: 200px;
}

}
  h2.title{
    margin-top: 20px;
    font-family: Noto Serif;
    display: flex;
    justify-content: center;
    font-size: 50px;

  }

.listTabs{
  font-family: 'Public Sans', sans-serif;;
  font-size: 20px;
  gap: 10px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

.Tabscontent{
background: linear-gradient(to right, #f5f3ff, #faf5ff);
  border-bottom:3px solid blueviolet;
  box-shadow: 0 8px 24px rgba(168, 85, 247, 0.2);
  transition: all 0.3s ease;
  gap:90px;
  display: flex;
  width: 1080px;
.iteamTabs{
  p.tabs{
    margin: 7px 5px;
    font-size: 20px;
    color: rgb(191 151 255 / var(--tw-text-opacity, 1));
    font-weight: bold;
  }
  
}
.iteamTabs .tabs {
  color: #a855f7; 
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.iteamTabs.active-tab .tabs {
  color: rgb(160, 14, 156);
}

  .iteamTabs{
  color : black;
  cursor: pointer;
  }
  .icon_img{
    margin-top: 5px;
  width: 20px;
  height: 20px;
  }
}
}
.ListTable{
.tableContent{
  justify-content: center;
  text-align: center;
  display: flex;
  padding : 20px 0;
.background_cusCell{
  background-color: #C6E3FF;
 .cusCell{
 font-weight: bold;
  color: #23004C;
 }
 .can_hits{
  font-weight: 500;
  color: #470B93;
 }
}
.background_null{
background-color: #E6F9FF;
}
td.background_vac-xin{
  border:1px solid #8198c8 ;
 .vac-xin{
  color: #23004C;
 }
}
 .background_sicks{
  background-color: #A6CEFF;
 .sicks{
    font-weight:600;
  color: #470B93;
 }
}
 .background_cus_align{
  background-color: #23004C;
 .cus_align{
  font-family: 'Public Sans', sans-serif;
  font-weight: bold;
  color: #f9f9f9;
 }
}
.background_hits{
  background-color: #CAC0FF;
  .hits{
      font-weight: 500;
  }
}
td.background_ages,.background_cus{
  border: 1px solid #e0e0e0;
  padding: 12px 10px;
  font-size: 1rem;
  text-align: center;
  border-radius: 15px;
  width: 345px;
}
.background_ages{
  background-color: #A6CEFF;
  .ages{
    color:#470B93;
    font-weight: bold;
    font-size: larger;
  }
}
.background_cus{

  background-color: #23004C;
  .cus{
  font-family: 'Public Sans', sans-serif;
  font-weight: bold;
  color: #f9f9f9;

  }
}
.background_supper{
  background-color: #6F13DE;
  .supper{
    color:#FFFFFF;
  }
}
td.background_customer{
  width: 300px;
  background-color: #23004C;
  .customer{
font-family: 'Public Sans', sans-serif;
  font-weight: bold;
  color: #f9f9f9;
  }
}
.background_subnautica{
background-color: #4DD5FF;
  .subnautica{
    color: #23004C;
    font-weight: bold;
    font-size: large;
  }
}
td.background_custom{
  width: 400px;
background-color: #23004C;
  .custom{
  font-family: 'Public Sans', sans-serif;
  font-weight: bold;
  color: #f9f9f9;
  }
}
.grid-cell {
  visibility: hidden;
}
}
}
.btn_submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 20px;
}

.btn {
  .pbtn{
    color:#470B93;
    font-size: 20px;
  }
  background-color: #4DD5FF;
  border: 2px solid #23004C; 
  padding: 10px 18px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: #9ac0cc;
}

}
}
